@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

$fontLangar: Langar, sans-serif;

$green: #138086;
$lightgreen: #a7d676;
$purple: #534666;
$yellow: #eeb462;
$white: #ffffff;
$red: #de5b6d
